@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

body {
    background-color: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
}

ul { 
    margin: 0;
    list-style-type: none;
}
a > span {
/*    color: #10337a;
    font-weight: bold;
    border-bottom: 2px solid #10337a;*/
    display: none;
}
a span:hover {
    color: #10337a;
}

a span:active {
    color: #10337a;
}


#header  {
    height: 180px;
    position: relative;
    text-align: center;
    line-height: 10px;
    width: 100%;
    background-color: #CBE1EF;
     animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

#header img {
    width: auto;
    height: 100px;
    vertical-align: middle;
    margin-top: 10px;
}

#header h1 {
    font-size: 20px;
}
#header h2 {
    font-size: 16px;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


#toggle {
    display: none; /* Hamburger menu is alleen voor mobiel */
}
.navigation {
    border: 1px solid #CBE1EF;
    height: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #9ACDE0;
}
.headmenu ul {
    font-size: 13px;
    list-style-type: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.headmenu li {
    float: left;
    width: 20%;
    font-family: 'Notable', sans-serif;
    text-indent: 50px;
}
.headmenu a {
    clear: left;
    text-decoration: none;
    color: white;
    line-height: 60px;

}
.headmenu a:hover {
    color: #10337a;
    font-weight: 500;
}
label {
    margin: -150px 20px 0 0px;
    right: 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
    position: relative;
}

#video {
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}
.sectionVideo {
    width: 100%;
    max-width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
}
.firstSection {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

#sectionArticles {
    display: flex;
    flex-wrap: wrap;
}
.ArtikelOne > h3,  .ArtikelTwo > h3, .ArtikelThree > h3, .ArtikelFour > h3, .ArtikelFive > h3, .ArtikelSix > h3 {
    margin-top: 0px;
}

.reasons > h3 {
    margin-left: 15px;
}

.artikel1 {
    flex-basis: 100%;
    flex-grow: 1;
    border: 2px solid #FFC72B;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.artikel2 {
    flex-basis: 100%;
    flex-grow: 1;
    border: 2px solid #FFC72B;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.artikel3 {
    flex-basis: 100%;
    flex-grow: 1;
    border: 2px solid #FFC72B;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p:first-letter{
    font-size: 1.2rem;
}
section article p, section aside p {
    width: 60%;
    padding: 15px;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-indent: 2px;
}
section > article > h3  {
    padding: 15px;
    letter-spacing: 2px;
}
section > article a {
    text-decoration: none;
    color: grey;
}
section > article a:hover {
    color: #10337a;
    font-weight: bold;
}

.reasons {
    flex-grow: 0;
    flex-shrink: 0;
    width: 30%;
    float: left;
}
.artikelImg {
    float: right;
    height: auto;
    width: 200px;
    flex-wrap: wrap;
    padding-right: 30px;
    margin-top: -150px;
}

section .fig {
    float: right;
}
#ending {
    border-top: 1px solid black;
    height: 50px;
    background-color: #CBE1EF;
}
footer #footer {
    color: black;
    margin-left: 35px;
}
#footer > small {
    margin-left: 15px;
    position: relative;
    top: 15px;
}
footer #cookies {
    position: fixed;
    opacity: 50%;
    z-index: 9999;
    background-color: #FA0;
    padding: 5px;
    bottom: 0;
    right: 0;
}

#cookies {
    width: 30%;
    text-align: center;
    text-transform: uppercase;
}

table.tableizer-table {
    font-size: 1em;
    border: 1px solid #CCC;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
}
.tableizer-table td {
    padding: 10px;
    border: 1px solid white;
}
.tableizer-table th {
    padding: 10px;
    background-color: #b3b3b3;
    color: black;
    font-weight: bold;
}
.tableizer-table tr:nth-child(even) {
    background-color: #CFF;
}
.tableizer-table tr:nth-child(odd) {
    background-color: #FFF;
}
.tableizer-table td:first-child {
    background-color: #FF0;
}

.data {
    margin-left: 15px;
    width: 75%;
}
.data-article {
    text-align: center;
    padding-right: 25px;
    border-width: 10px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}
.data-article p {
    width: 100%;
    max-width: 100%;

}
.data-aside aside {
    padding-bottom: 40px;
}

footer #cookies p, footer #cookies a {
    color: #fff;
    text-decoration: none;
}

footer figcaption{
    font-size: 12px;
    margin-left: -20px;
}

.copyright {
    margin-left: 15px;
    font-size: 10px;
}


.sectionArticles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:"Two One Three"
                        "Two One Three"
                        "Five One Three"
                        "Five One Four"
                        "Five One Four"
                        "Five One Four"
                        "Five Six Six";
}

.ArtikelOne {
    grid-area: One;
    border-width: 2px;
    border-style: double;
    border-color: #FFC72B;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    background-color: #FFF2CC;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ArtikelTwo {
    grid-area: Two;
    border-width: 2px;
    border-style: double;
    border-color: #FFC72B;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    background-color: #D9EAD3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ArtikelThree {
    grid-area: Three;
    border-width: 2px;
    border-style: double;
    border-color: #FFC72B;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    background-color: #EAD1DC;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.ArtikelFour {
    grid-area: Four;
    border-width: 2px;
    border-style: double;
    border-color: #FFC72B;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    background-color: #CFE2F3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ArtikelFive {
    grid-area: Five;
    border-width: 2px;
    border-style: double;
    border-color: #FFC72B;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    background-color: #D9D2E9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ArtikelSix {
    grid-area: Six;
    border-width: 2px;
    border-style: double;
    border-color: #FFC72B;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    background-color: #E6B8AF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ArtikelOne p, .ArtikelTwo p, .ArtikelThree p, .ArtikelFour p, .ArtikelFive p, .ArtikelSix p {
    width: 80%;
}
.asideArticles {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-area: unset;
    grid-gap: 10px;
    padding: 10px;
}
.articleAsideOne {
    grid-column: 1;
    grid-row: 1;
}
.articleAsideTwo {
    grid-column: 2;
    grid-row: 1;
}
.articleAsideThree {
    grid-column: 3;
    grid-row: 1;
}

.imageAside {
    height: auto;
    width: 200px;
}
.figAside {
    text-align: center;
}
.figAside figcaption {
    font-weight: bold;
}
.copyright-fig {
    margin: 0;
}

/* Contact */
input[type=text],input[type=email], select, textarea {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: -20px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #ffc72b;
    color: white;
    padding: 20px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
}

input[type=submit]:hover {
    background-color: #fa0;

}
.contactForm {
    border-radius: 25px;
    padding: 20px;
    width: 70%;
}
fieldset {
    font-weight: 600;
    padding: 20px;
    background-color: #F4CCCC;
    border: 2px solid #FFC72B;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

legend {
    font-size: 18px;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.labelContact {
    display: contents;
    font-size: 14px;
}




/* Tanlet */
@media only screen  and (min-width: 480px) and (max-width: 1179px) {
    .headmenu ul {
        width: 100%;
        margin-left: -50px;
        display: flex;
    }
    .artikel1 {
        margin: 0;
        padding: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
        order: 3;
    }
    .artikel2 {
        margin: 0;
        padding: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
        order: 2;
    }
    .artikel3 {
        margin: 0;
        padding: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
        order: 1;
    }

    .artikelImg {
        float: left;
        margin-top: 0px;
        height: 100px;
        width: 150px;
        margin-left: -35px;
    }
    .ArtikelOne > h3,  .ArtikelTwo > h3, .ArtikelThree > h3, .ArtikelFour > h3, .ArtikelFive > h3, .ArtikelSix > h3 {
        margin-left: 5px;
    }
    section .fig {
        float: left;
        width: 35%;
        margin-top: -140px;
    }
    section article p {
        float: right;
        max-width: 50%;
        margin-top: -10px;
        font-size: 12px;
    }
    .reasons {
        order: 0;
        width: 100%;
        padding-left: 100px;
    }
    .sectionVideo {
        order: 1;
    }
    .firstSection {
        order: 2;
        padding-left: 100px;
    }
    .headmenu li {
        float: left;
        width: auto;
        font-size: 15px;
        padding-left: 10px;
    }
    .sectionArticles {
        grid-template-columns: auto auto;
        grid-template-areas:
        "One Two"
        "One Two"
        "Three Two"
        "Three Five"
        "Three Five"
        "Three Five"
        "Six Six"
        "Six Six";
    }
    .ArtikelOne {
        padding: 20px;
        margin: 20px;
        padding-top: 0px;
    }
    .ArtikelOne > h2 {
        margin-top: -10px;
    }

    .ArtikelTwo {
        padding: 20px;
        margin: 20px;
        padding-top: 0px;
    }
    .ArtikelTwo > h2 {
        margin-top: -10px;
    }

    .ArtikelThree {
        padding: 20px;
        margin: 20px;
        padding-top: 0px;
    }
    .ArtikelThree > h2 {
        margin-top: -10px;
    }

    .ArtikelFour {
        display: none; 
    }

    .ArtikelFive {
        padding: 20px;
        margin: 20px;
        padding-top: 0px;
    }
    .ArtikelFive > h2 {
        margin-top: -10px;
    }

    .ArtikelSix {
        padding: 20px;
        margin: 20px;
        padding-top: 0px;
    }
    .ArtikelSix > h2 {
        margin-top: -10px;
    }

    .copyright {
        margin-top: 20px;
        font-size: 8px;
        margin-left: 20px;
    }

    section .sectionArticles p {
        max-width: 100%;
        width: 90%;
        float: unset;
        margin: 0;
        padding: 0 0 0 20px;
    }
    .articleAsideOne {
        display: none
    }
    .articleAsideTwo {
        grid-column: 2;
        grid-row: 1;
    }
    .articleAsideThree {
        grid-column: 1;
        grid-row: 1;
    }
    .data-aside aside {
        float: left;
    }
    .articleAsideOneEU {
        display: none
    }
    #display {
        display: unset;
        grid-column: 1;
        grid-row: 1;
    }
    .data-article p {
        width: 100%;
        max-width: 100%;
    }

    .data {
        width: 100%;
    }
    .data-aside {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    .contactForm {
        width: 50%
    }
    input[type=submit] {
        width: 100%;
    }
 }



/* Mobiel */
@media only screen and (max-width: 479px) {
    .copyright {
        float: left;
    }
    section article p, section aside p  {
        width: 80%;
    }
    .logo {
        display: none;
    }
    #header {
        line-height: 10px;
        display: table;
        height: 25px;
        padding: 20px;
    }
    #header > h1 {
        font-size: 20px;
        text-align: left;
        margin-top: 10px;
        margin-left: 10px;
    }
    #header > h2 {
        font-size: 18px;
        text-align: left;
        margin-left: 10px;
    }

    label {
        display: block;
        cursor: pointer;
        margin-top: -85px;
    }
    .headmenu {
        text-align: center;
        display: none;
        margin-left: -100px;
    }
    .headmenu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
    }
    .headmenu li {
        float: unset;
        width: unset;
    }
    #toggle:checked + .headmenu {
        display: block;
        position: relative;
    }
    .navigation {
        height: unset;
    }

    .artikel1 {
        margin: 0;
        padding: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
        order: 3;
    }
    .artikel2 {
        margin: 0;
        padding: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
        order: 2;
    }
    .artikel3 {
        margin: 0;
        padding: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
        order: 1;
    }

    .artikelImg {
        float: left;
        margin-top: 0px;
        height: 100px;
        width: 150px;
    }
    .artikel1 > h2 {
        font-size: 16px;
    }
    .artikel2 > h2 {
        font-size: 16px;
    }
    .artikel3 > h2 {
        font-size: 16px;
    }
    .fig > footer {
        text-align: center;
    }

    section .fig {
        width: 60%;
        padding-bottom: 5px;
        float: left;
    }
    section aside p {
        max-width: 100%;
        width: 70%;
    }
    section .fig figcaption {
        text-align: center;
    }
    .reasons {
        order: 0;
        width: 100%;
        max-width: 90%;
        padding-left: 10px;
        flex-grow: 1;
        flex-shrink: 2;
    }
    .sectionVideo {
       display: none;
    }
    .firstSection {
        order: 1;
        padding-left: 30px;
    }
    .ArtikelThree {
        order: 0;
    }
    .ArtikelTwo {
        order: 1;
    }
    .ArtikelOne {
        order: 2;
    }
    .sectionArticles {
        grid-template-areas:
        "Five Five Five Five"
        "Five Five Five Five"
        "Five Five Five Five"
        "Three Three Three Three"
        "Three Three Three Three"
        "Three Three Three Three"
        "Two Two Two Two"
        "Two Two Two Two"
        "Two Two Two Two"
        "One One One One"
        "One One One One"
        "One One One One";
    }
    .ArtikelSix, .ArtikelFour {
        display: none;
    }
    .asideContact {
        padding-left: 40px;
    }
    .articleAsideOne {
        grid-column: 1 / 4;
        grid-row: 1;
    }
    .articleAsideTwo {
        grid-column: 1 / 4;
        grid-row: 2;
    }
    .articleAsideThree {
        grid-column: 1 / 4;
        grid-row: 3;
    }
    .data {
        width: 100%;
        padding-right: 10px;
    }
    .data-article p {
        width: 100%
    }
    .data-aside aside {
        float: unset;
        padding-left: unset;
    }
    .data-aside {
        padding-left: 40px;
    }

    .contactForm {
        width: 100%
    }
    .contactText p {
        width: 90%;
        max-width: 100%;
        padding-right: 15px;
    }
    input[type=submit] {
        width: 100%;
    }

}


